@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    background: #000000b7;
}

a {
    text-decoration:  none;
    text-transform: capitalize;
    color: #fff;
}

ul {
    list-style: none;
}

// .navbar a:hover,
// .navbar a.active {
//     background: -webkit-linear-gradient(red, black);
//     -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//             border: 2px solid transparent;
// }

::placeholder {
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    content: "\f007";
    text-align: right;
}



img {
    max-width: 100%;
}

.container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}

.flex {
    display: flex;
    flex: 1;
    gap: 30px;
}

.title {
    text-align: left;
    font-size: 3rem;
    margin: 3rem 0;
    font-weight: 300;
}

.subtitle {
    text-align: left;
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 300;
}

.btn {
display: block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1 {
    display: block;
    border: 1px solid #000;
    background: none;
    color: #000;
}

.btn-1:hover {
    border: none;
    background: #000;
    color: #fff;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        width: 100%;
        display: block;
        padding: 1rem;
        border-radius: 5px;
        border: none;
    }
    button {
        width: 100%;
        background: #000;
        color: #fff;
        border: none;
    }
    button:hover {
        background: #000000b7;
    }
    input:focus {
        outline: none;
        border: 1px solid blue;
    }
    textarea:focus {
        outline: none;
        border: 1px solid blue;
    }
}

//mainheader
#mainheader {
    max-width:90%;
    margin: 0 auto;
    .navbar {
        .logo {
            font-family: 'Permanent Marker';
            font-size: 5rem;
            text-align: center;
            padding: 3rem 0;
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            background: -webkit-linear-gradient(red, black);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 2px solid transparent;
        }
        ul {
            display: flex;
            margin: 0 auto;
            border: 1px solid #fff;
            li {
                display: block;
                text-align: center;
                font-size: 1.5rem;
                margin: 1rem 5rem 1rem 5rem;
                a {
                    font-family: "Permanent Marker";
                }
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

//showcase
#showcase {
    width: 83%;
    margin: 0 auto;
    .flexbox-row {
        margin: 2rem 0;
    }
}

//banner
#banner {
    background: -webkit-linear-gradient( black, rgba(255, 0, 157, 0.308));
    padding: 5rem;
        .banner-flex {
            width: 90%;
            margin: 0 auto;
            .text-1 {
                font-size: 2rem;
                font-weight: 300;
                color: #fff;
                flex: 1;
                text-transform: uppercase;
                line-height: 50px;
            }
            .text-2 {
                font-size: 1.5rem;
                color: #fff;
                flex: 1;
            }
        }
}

//showcase-stories
#showcase-stories {   
            .showcase-content {
                background: #fff;
                .subtitle {
                padding-top: 3rem;
                text-align: center;
                }
                .container {
                    width: 90%;
                    margin:  0 auto;
                    .showcase-flex {
                        .flexbox-1 {
                            margin-bottom: 3rem;
                            border: 1px solid #000;
                            border-top: none;
                            h2 {
                                text-align: center;
                                padding: 2rem;   
                            }
                        }
                    }
                }
            } 
}

//stories
#stories {
        .stories-container {
            .subtitle {
                margin-left: 7rem;
                padding-top: 2rem;
            }
            background: #fff;
            .stories-flex {
                width: 90%;
                margin: 0 auto;
                .last-flex {
                    margin-bottom: 2rem;
                }
                .flexbox {
                    img {
                        width: 15%;
                    }
                    margin-bottom: 4rem;
                    .stories-flex-content {
                        h2 {
                            margin-bottom: 1rem;
                        }
                        p {
                            line-height: 25px;
                        }
                    }
                }
                .madre {
                    .btn {
                        width: 110px;
                    }
                }

            }
        }
}

//contributors
#contributors {
    width: 80%;
    margin: 0 auto;
    .container {
        color: #fff;
        .contributors-list {
            display: block;
            margin: 0 auto;
            text-align: center;
            h3 {
                margin-bottom: .5rem;
            }
        }
    }
}

//contact
#contact {
    form {
        .flexbox {
            flex: 1;
        }
    }
}

//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}
